@font-face {
    font-family: varianeScript;
    src: url('./../fonts/VarianeScript.ttf');
}

@font-face {
    font-family: Jaapokki;
    src: url('./../fonts/jaapokki-regular.woff');
}

@font-face {
    font-family: Jaapokki-Subtract;
    src: url('./../fonts/jaapokkisubtract-regular.woff');
}

@font-face {
    font-family: King-Basil;
    src: url('./../fonts/King-Basil-Lite.otf');
}

html, body {
	margin: 0;
	padding: 0;
	min-width: 100%;
	width: 100%;
}

body {
    font-family: Jaapokki, Jaapokki-Subtract, Arial !important;
	background-color: #333;
	font-size: 25px;
	color: white;
	margin: 0px;
}

a {
	text-decoration: none;
	color: white;
}

form {
	margin-bottom: 0%;
}

li {
	display: inline-block;
}

footer {
	height: 10%;
	margin-bottom: 0%;
}

html, .container, 
.top, .middle, .bottom, 
.box-top-text, footer, #background {
	width: 100%;
}

html, .container, 
.middle-left, .middle-right, 
.box-top:hover, .box-top-text, 
.footer-content, #background {
	height: 100%;
}

.title {
	position: absolute;
}

footer, ul,
.container, .title-text, .top, .middle,
.box-top-left, .box-top-center, .box-top-right,
.box, .box-top-text, .box-left, .box-right, 
.middle-left, .middle-right,
.box-right-text, .box-left-text, .footer-content {
	position: relative;
}

footer, .container, .middle, .middle-left, .box, #background{
	top: 0%;
}

.box-right-text, .title-text  {
	top: 20%;
}

#background, .container, .box, footer {
	left: 0%;
}

.middle-left, .box-top {
	float: left;
}

.middle-right, .box-right, .circle {
	float: right;
}

.middle-left .box  {
	border-radius: 0px 50px 50px 0px;
}

.middle-right .box  {
	border-radius: 50px 0px 0px 50px;
	margin-left: 90%;
}

.middle-left .box,
.middle-right .box {
	margin-top: 15%;
	width: 10%;
	height: 7%;
	text-indent: 20px;
	transition: width 0.5s;
}

.middle-left .box:hover,
.middle-right .box:hover {
	width: 70%; 
}

.box:hover .box-text {
	visibility: visible;
}

footer, 
.middle-left .box,
.middle-right .box {
	overflow: hidden;
}


.title {
	top: 40%;
	left: 30%;
	height: 100px;
	width: 40%; 
	z-index: 3;
	text-align: center;	
	background-color: none;
}

.top {	
	height: 10%;
}

.middle {	
	height: 84%;
}

.middle-left, .middle-right {
	width: 50%;
}

.footer-text {
	width: 100%;
	height: 65%;
	float: left;
	text-align: center;
}

.rectangle {
	cursor: pointer;
	float:left;
	padding: 12% 12.5%;
}

.orange {
	background-color: #ff8c66;
}

.black {
	background-color: #333;
}

.lightblue {
	background-color: #66ccff;
}

.lightgreen {
	background-color: lightgreen;
}

.margin-top {
	margin-top: 0%;
}

.box {
	z-index: 1;
	cursor: pointer;
	background-color: rgba(250, 250, 250, 0.5);
}

.box-text {
	visibility: hidden;
	font-size: 16px;
	top: 15%;
}

.box-top {
	float: left;
	width: 8%;
	height: 30%;
	border-radius: 0px 0px 30px 30px;
	transition: height 0.5s;
}

.box-top-left {
	left: 20%;
}

.box-top-center {
	left: 40%;
}

.box-top-right {
	left: 60%;
}

.overContainer {
	position: fixed;
	display: none;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.2);
	z-index: 5;
}

#background {
    position: fixed;
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.1;
    z-index: -1;
    filter:alpha(opacity=10);
}

.showMessage {
	position: relative;
	top: 15%;
	left: 15%;
	width: 70%;
	height: 70%;
	background-color: rgba(192, 192, 192, 1);
	outline: none;
	color: white;
	z-index: 2;
	resize: none;
}

@media (min-width: 200px) and (min-height: 630px) {
	.box-top {
		height: 25%;
	}	

	.middle-left .box,
	.middle-right .box {
		margin-top: 20%;
		height: 5%;
	}
}

@media(min-width: 400px) {
	.box-text {
		font-size: 20px;
	}
}

@media(min-width: 600px) {
	body, .box-text {
		font-size: 30px;
	}
	.box-top {
		width: 7%;
		height: 40%;
		border-radius: 0px 0px 70px 70px;
	}

	.middle-left .box,
	.middle-right .box {
		margin-top: 20%;
		height: 8%;
	}
}


@media(min-width: 900px) {
}