body {
	background: white;
	color: #333;
	font-family: Poiret One, Julius Sans One, Josefin Sans, Inconsolata, Handlee, Hammersmith One, Gloria Hallelujah, Fredoka One, Dosis, Concert One, Audiowide, Acme, Jaapokki;
}

.margin-top-280 {
	margin-top: 280px;
}

#titulo:hover  {
	color: orange;
	content: "truco";
}

.color-333 {
	color: #000;
}